* {
    list-style: none;
}

.Detail div {
    font-size: large;
    border: 1px solid #eee;
}

.Detail .row:nth-child(even) {
    border-bottom: 0px;
    border-top: none;
}

.invalid-feedback {
    text-indent: 4em;
    margin-top: -0.2rem;
}

#FogetPWD .invalid-feedback {
    text-indent: 1.5em;
}

.Custom {
    flex: auto;
}

.CartContext {
    margin: auto;
}

.CartProductTotal {
    text-indent: 3.5em;
}

.CartCount .nice-select span:first-child {
    font-size: 18px;
    display: block;
}

.CartCount .nice-select {
    float: unset;
}

.invalid-feedback {
    display: block;
}

.nice-select .list {
    right: 0;
}

.CartContext span:first-child {
    display: none;
}

#CartChange .modal-body {
    font-size: 20px;
}

    #CartChange .modal-body div {
        line-height: 3rem;
    }

#CartChange .CartChangeCount {
    display: inline-flex;
}

@media screen and (max-width: 992px) {
    .CartHeader {
        display: none;
    }

    .CartContext span:first-child {
        display: inline-block;
    }

    .CartContext {
        flex-direction: column;
    }

        .CartContext div {
            line-height: 1.5rem;
        }

        .CartContext .nice-select {
            line-height: 40px;
        }

    @media screen and (max-width: 568px) {
        .CartPicWarp {
            margin: auto;
            padding: 0;
        }

        .CartContext {
            padding: 0;
        }

            .CartContext DIV {
                padding-right: 0;
            }
    }
}

.StepArea {
    display: flex;
    justify-content: center;
}

    .StepArea ul {
        font-size: 2rem;
    }

        .StepArea ul li {
            margin: 10px 30px;
            position:relative;
            text-align
        }
        .StepArea ul span {
            position: absolute;
            background-color: #d2d2d2;
            text-align:center;
            width: 45px;
            height: 45px;
            border-radius: 25px;
            left: -15%;
            top: 2px;
        }
