.single_product_details_area .single_product_thumb,
.single_product_details_area .single_product_desc {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    width: 50%;
    position: relative;
    z-index: 1;
}

@media only screen and (max-width: 767px) {
    .single_product_details_area .single_product_thumb,
    .single_product_details_area .single_product_desc {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        width: 100%;
    }
}
