
@{
    ViewBag.Title = "購物車";
}
<div class="breadcumb_area bg-img" style=" background-image: url(../../Assets/images/bg-img/breadcumb.jpg);
">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="page-title text-center">
                    <h2>購物車</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ##### Breadcumb Area End ##### -->
<!-- ##### Checkout Area Start ##### -->
<div class="checkout_area py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12 ">
                <div class="StepArea">
                    <div class="col-6 mb-2 col-md-3 active" data-target="#collapseOne"><span>確認購物車</span></div>
                    <div class="col-6 mb-2 col-md-3" data-target="#collapseTwo"><span>運送方式</span></div>
                    <div class="col-6 mb-2 col-md-3" data-target="#collapseThree"><span>付款方式</span></div>
                    <div class="col-6 mb-2 col-md-3" data-target="#collapseFour"><span>結帳</span></div>
                </div>
            </div>
            <div class="col-12 ">
                <div class="accordion" id="accordionExample">
                    <div class="card">
                        <div class="card-header" id="headingOne" data-toggle="collapse" data-target="#collapseOne"
                             aria-expanded="true" aria-controls="collapseOne">
                            <h5 class="mb-0">
                                <button class="btn btn-link " type="button">
                                    確認購物車
                                </button>
                            </h5>
                        </div>

                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                             data-parent="#accordionExample">
                            <div class="card-body">
                                <div class="CartHeader container mt-3 alert  text-center alert-dark">
                                    <div class="row">
                                        <div class="CartProductImg col-2">商品照片</div>
                                        <div class="CartProductName col-2">商品名稱</div>
                                        <div class="CartProductBrief col-2">規格</div>
                                        <div class="CartProductPrice col-2">單價</div>
                                        <div class="CartProductCount col-1">數量</div>
                                        <div class="CartProductTotal col-2">總計</div>
                                        <div class="CartOperating col-1">操作</div>
                                    </div>
                                </div>
                                <!-- ---------------------------------------------------------------------------------------- -->
                                <div class="CartItemList container mb-5">
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingTwo" data-toggle="collapse" data-target="#collapseTwo"
                             aria-expanded="false" aria-controls="collapseTwo">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" type="button">
                                    運送方式
                                </button>
                            </h5>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                             data-parent="#accordionExample">
                            <div class="card-body">
                                <fieldset class="form-group">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="form-check ShipGroup FromLayout py-3">
                                                <input class="form-check-input InputShipGroup" type="radio"
                                                       name="ShipgridRadios" id="ShipgridRadios1" value="option1"
                                                       checked>
                                                <label class="form-check-label" for="ShipgridRadios1">
                                                    便利超商
                                                </label>
                                            </div>
                                            <div class="form-check ShipGroup  py-3">
                                                <input class="form-check-input InputShipGroup" type="radio"
                                                       name="ShipgridRadios" id="ShipgridRadios2" value="option2">
                                                <label class="form-check-label" for="ShipgridRadios2">
                                                    自取
                                                </label>
                                            </div>
                                            <div class="form-check ShipGroup  py-3">
                                                <input class="form-check-input InputShipGroup" type="radio"
                                                       name="ShipgridRadios" id="ShipgridRadios3" value="option3">
                                                <label class="form-check-label" for="ShipgridRadios3">
                                                    宅配
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingThree" data-toggle="collapse"
                             data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" type="button">
                                    付款方式
                            </h5>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                             data-parent="#accordionExample">
                            <div class="card-body">
                                <fieldset class="form-group">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="form-check PaymentGroup FromLayout py-3">
                                                <input class="form-check-input InputPaymentGroup" type="radio"
                                                       name="gridRadios" id="gridRadios1" value="option1" checked>
                                                <label class="form-check-label" for="gridRadios1">
                                                    貨到付款
                                                </label>
                                            </div>
                                            <div class="form-check PaymentGroup  py-3">
                                                <input class="form-check-input InputPaymentGroup" type="radio"
                                                       name="gridRadios" id="gridRadios2" value="option2">
                                                <label class="form-check-label" for="gridRadios2">
                                                    信用卡
                                                </label>
                                            </div>
                                            <div class="form-check PaymentGroup  py-3">
                                                <input class="form-check-input InputPaymentGroup" type="radio"
                                                       name="gridRadios" id="gridRadios3" value="option3">
                                                <label class="form-check-label" for="gridRadios3">
                                                    ATM付款
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingFour" data-toggle="collapse" data-target="#collapseFour"
                             aria-expanded="false" aria-controls="collapseFour">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" type="button">
                                    結帳
                                </button>
                            </h5>
                        </div>
                        <div id="collapseFour" class="collapse" aria-labelledby="headingFour"
                             data-parent="#accordionExample">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-12 col-md-6">
                                        <div class="input-group mb-3">
                                            <div class="input                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           -group-prepend">
                                                <label class="input-group-text"
                                                       for="inputGroupSelect01">運送方式</label>

                                            </div>
                                            <label for="" class="input-group-text"
                                                   id="inputGroupSelect01">便利商店</label>
                                            <!-- <select class="Custom" id="inputGroupSelect01">
                                                <option value="1">便利商店</option>
                                                <option value="2">自取</option>
                                                <option value="3">宅配</option>
                                            </select> -->
                                        </div>
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <label class="input-group-text"
                                                       for="inputGroupSelect02">付費方式</label>
                                            </div>
                                            <label for="" class="input-group-text"
                                                   id="inputGroupSelect02">貨到付款</label>
                                            <!-- <select class="Custom" id="inputGroupSelect02" disabled>
                                                <option value="1">貨到付款</option>
                                                <option value="2">ATM繳費</option>
                                                <option value="3">信用卡</option>
                                            </select> -->
                                        </div>
                                    </div>
                                    <div class="col-lg-3 text-right Detail col-12 col-md-6 offset-lg-3">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-auto">商品總金額</div>
                                                <div class="col">XXX元</div>
                                            </div>
                                            <div class="row">
                                                <div class="col-auto">運費總金額</div>
                                                <div class="col">XXX元</div>
                                            </div>
                                            <div class="row">
                                                <div class="col-auto">總付款金額</div>
                                                <div class="col">XXX元</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="btn btn-outline-danger">test</button>

            </div>
        </div>

        <div class="row mt-4">
            <div class="col-6 ">
                <button type="button" class="btn btn-outline-secondary">回首頁</button>
            </div>
            <div class="col-6 text-right">
                <button type="button" class="btn essence-btn d-none" id="Buy">購買</button>
                <button type="button" class="btn btn-outline-danger ml-2" data-toggle="modal"
                        data-target="#MemberLogin" id="SignIn">
                    登入
                </button>
            </div>
        </div>
    </div>
</div>
<!-- Button trigger modal -->
<!-- Modal -->
<div class="modal fade" id="MemberLogin" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="MemberLoginLabel">會員登入</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div>
                    <label for="">帳號：</label>
                    <input type="text" id="LoginId" class="is-invalid">
                    <div class="invalid-feedback LoginError">第一個字不為數字，只接受 大小寫字母、數字及底線</div>
                </div>
                <div class="mt-2">
                    <label for="">密碼：</label>
                    <input type="password" id="LoginPWD" required>
                </div>
            </div>
            <div class="modal-footer justify-content-between">
                <div class="BtnGroup">
                    <button type="button" class="btn btn-outline-primary mr-1" id="BtnLogin">登入</button>
                    <button type="button" class="btn btn-outline-danger" data-toggle="modal"
                            data-target="#FogetPWD">
                        忘記密碼
                    </button>
                </div>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">關閉</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="FogetPWD" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="FogetPWDLabel">忘記密碼</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div>
                    <label for=""><i class="fas fa-user forget-row-icon"></i></label>
                    <input type="text" id="Id" placeholder=" 請輸入會員帳號" class="is-invalid">
                    <div class="invalid-feedback MailId">第一個字不為數字，只接受 大小寫字母、數字及底線</div>
                </div>
                <div class="mt-2">
                    <label for=""><i class=" fas fa-envelope"></i></label>
                    <input type="text" id="Email" placeholder="請輸入電子郵件" required>
                </div>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-primary" id="MailSend">送出</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">關閉</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="CartChange" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="CartChangeLabel">修改商品</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="CartChangeName"><span>商品名稱：</span><span></span></div>
                <div class="CartChangeBrief"><span>規格：</span><span></span></div>
                <div class="CartChangePrice"><span>單價：$</span><span></span></div>
                <div class="CartChangeCount">
                    <span>數量：</span>
                    <select></select>

                </div>
                <div class="CartChangeTotal"><span>總計：$</span><span></span></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="CartSend">修改</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">離開</button>
            </div>
        </div>
    </div>
</div>
<template id="TemplateCartItem">
    <div class="CartSingleItem row mb-3">
        <div class="CartPicWarp col-5 col-lg-2">
            <div class="CartImg ">
                <img src="https://picsum.photos/200/200/?random=21">
            </div>
        </div>
        <div class="CartContext col-7 col-lg-10 d-flex  text-center">
            <div class="CartName col-lg-2">
                <a href="##" data-toggle="modal" data-target="#CartChange">
                    台灣製造 銀色 HFC 112 P8 6mm
                    ABS 手拉空氣槍
                </a>
            </div>
            <div class="CartBrief  col-lg-3">
                <span>規格：</span>
                <span>HA112S</span>
            </div>
            <div class="CartPrice  col-lg-2">
                <span>
                    單價：
                </span>
                <span>
                    $430
                </span>
            </div>
            <div class="CartCount  col-lg-2 ">
                <span class="">數量：</span>
                <select id="">
                </select>
            </div>
            <div class="CartTotal  col-lg-2">
                <span>總計：</span><span>430</span>
            </div>
            <div class="CartRemove  col-lg-1 ">
                <a href="##"><i class="fas fa-trash-alt"></i></a>
            </div>
        </div>
    </div>
</template>
@section topCss{
    <link href="~/Assets/css/ShoppingCart/ShoppingCart.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/95fe5e2d81.js" crossorigin="anonymous"></script>

}
@section bottomJs
{

    <script src="~/Assets/javaScript/ShoppingCarts/ShoppingCart.js"></script>
}