@{
    ViewBag.Title = "About";
}
<!-- ##### About Us Wrapper Area Start ##### -->
<div class="single-blog-wrapper">
    <div class="container">
        <div class="row justify-content-center">
            <!-- Single Blog Post Thumb -->
            <div class="col-12 col-xl-6 single-blog-post-thumb">
                <img class="lbg-img" src="~/Assets/images/bg-img/AboutUs.jpg" alt="">
            </div>
            <div class="col-12 col-xl-1"></div>
            <div class="col-12 col-xl-5">
                <div class="regular-page-content-wrapper section-padding-80">
                    <div class="regular-page-text">
                        <h2>Survival Game 生存遊戲<br>(Japanese:サバイバルゲーム)</h2>
                        <p>
                            是一種模擬軍事的戰略遊戲，與漆彈相似，以射擊他人讓對手淘汰出局，完成設定之任務條件的休閒、半競技性現代射擊運動！
                            <br>過程中講究戰術、地形遊走與射擊反應等軍事技能，刺激且靈活多變，廣受軍事迷的愛戴。
                        </p>
                        <blockquote>
                            <h6><i class="fa fa-quote-left" aria-hidden="true"></i>May the odds be ever in your favor.</h6>
                            <span>SurvivalGame</span>
                        </blockquote>
                        <div>
                            <h3>玩家必讀</h3>
                            <h5>正確配戴護目鏡與護具　遵守四大安全守則</h5>
                            <p>
                                遊戲首要的考量就是安全，因是模擬戰場上肅殺的環境與氣氛，玩家的安全絕對是擺在第一位。
                                <br>護目鏡的保護，可防止眼睛中彈受傷與失明的風險，以抵擋近距離槍擊的傷害。
                                <br>穿戴彈性良好的護膝與手套，就能防止擦傷、挫傷。
                                <br><i class="fas fa-genderless" aria-hidden="true"></i>所有裝備武器均視為已上膛，小心謹慎使用
                                <br><i class="fas fa-genderless" aria-hidden="true"></i>沒要開槍時，勿將手指放進護弓，以免誤扣板機
                                <br><i class="fas fa-genderless" aria-hidden="true"></i>不要將槍口朝向你不想摧毀的目標
                                <br><i class="fas fa-genderless" aria-hidden="true"></i>確認目標後方是否有不想摧毀之人與物，避免誤擊
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ##### About Us Wrapper Area End ##### -->
@section topCss
{
    <script src="https://kit.fontawesome.com/437be08d6c.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap" rel="stylesheet">
    <style>
        .single-blog-wrapper{
            font-family: 'Noto Sans TC', sans-serif;
        }
        .lbg-img {
            width: 100%;
            max-width: 800px;
            height: auto;
            padding-top: 80px;
        }
        .regular-page-text h2{
            font-family: 'Noto Sans TC', sans-serif;
            padding-top: 15px
        }
        .regular-page-text div{
            padding: 0 0 20px 0;
        }
        .regular-page-text div h3, .regular-page-text div h5{
            margin: 15px 0;
            font-family: 'Noto Sans TC', sans-serif;
        }
        .regular-page-text div p i{
            margin-right: 10px;
        }
    </style>
}