@model SurvivalGame.ViewModels.Index.ProductsViewModel

@{
    ViewBag.Title = "Home Page";
}

<!-- ##### Welcome Area Start ##### -->
<section class="welcome_area bg-img background-overlay" style="background-image: url(../../Assets/images/bg-img/bg2.jpg);">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="hero-content">
                    <h6>asoss</h6>
                    <h2 style="color:white;">Survival Game</h2>
                    <a href="#" class="btn essence-btn">view collection</a> 
                </div>
            </div>
        </div>
    </div>
</section>


<div class="slider_area">
    <div class="slider_active owl-carousel">
        <div class="single_slider  d-flex align-items-center slider_bg_2 overlay2">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="slider_text ">
                            <h3> Grow Big with <br> Musicol Business </h3>
                            <p>Nam libero tempore, cum soluta nobis est eligendi optio <br> cumque nihil impedit quo minus.</p>
                            <div class="video_service_btn">
                                <a href="#" class="boxed-btn3">Our Services</a>
                                <a href="#" class="boxed-btn3-white"> <i class="fa fa-play"></i> See How it Work</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single_slider  d-flex align-items-center slider_bg_1 overlay2">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="slider_text ">
                            <h3> Grow Big with <br> Musicol Business </h3>
                            <p>Nam libero tempore, cum soluta nobis est eligendi optio <br> cumque nihil impedit quo minus.</p>
                            <div class="video_service_btn">
                                <a href="#" class="boxed-btn3">Our Services</a>
                                <a href="#" class="boxed-btn3-white"> <i class="fa fa-play"></i> See How it Work</a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single_slider  d-flex align-items-center slider_bg_2 overlay2">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="slider_text ">
                            <h3> Grow Big with <br> Musicol Business </h3>
                            <p>Nam libero tempore, cum soluta nobis est eligendi optio <br> cumque nihil impedit quo minus.</p>
                            <div class="video_service_btn">
                                <a href="#" class="boxed-btn3">Our Services</a>
                                <a href="#" class="boxed-btn3-white"> <i class="fa fa-play"></i> See How it Work</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- ##### Welcome Area End ##### -->
<!-- ##### Top Catagory Area Start ##### -->
<div class="top_catagory_area section-padding-80 clearfix">
    <div class="container">
        <div class="row justify-content-center">
            <!-- Single Catagory -->
            <div class="col-12 col-sm-6 col-md-4">
                <div class="single_catagory_area d-flex align-items-center justify-content-center bg-img" style="background-color: rgba(0, 0, 0, .3); background-image: url('../../Assets/images/Apparel/First Tactical Medium Duty Glove/01.jpg');">
                    <div class="catagory-content">
                        <a href="#">Clothes</a>
                    </div>
                </div>
            </div>
            <!-- Single Catagory -->
            <div class="col-12 col-sm-6 col-md-4">
                <div class="single_catagory_area d-flex align-items-center justify-content-center bg-img" style="background-image: url(../../Assets/images/product-img/product.JPG);">
                    <div class="catagory-content">
                        <a href="#">Guns</a>
                    </div>
                </div>
            </div>
            <!-- Single Catagory -->
            <div class="col-12 col-sm-6 col-md-4">
                <div class="single_catagory_area d-flex align-items-center justify-content-center bg-img" style="background-image: url(../../Assets/images/product-img/product3.JPG);">
                    <div class="catagory-content">
                        <a href="#">Accessories</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ##### Top Catagory Area End ##### -->
<!-- ##### CTA Area Start ##### -->
<div class="cta-area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="cta-content bg-img background-overlay" style="background-image: url(../../Assets/images/bg-img/bg-5.jpg);">
                    <div class="h-100 d-flex align-items-center justify-content-end">
                        <div class="cta--text">
                            <h6>-60%</h6>
                            <h2>Special offer</h2>
                            <a href="#" class="btn essence-btn">Buy Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ##### CTA Area End ##### -->
<!-- ##### New Arrivals Area Start ##### -->
<section class="new_arrivals_area section-padding-80 clearfix">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading text-center">
                    <h2>Popular Products</h2>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="popular-products-slides owl-carousel">

                    <!-- Single Product -->
                    <div class="single-product-wrapper">
                        <!-- Product Image -->
                        <div class="product-img">
                            <img src="~/Assets/images/product-img/product-1.jpg" alt="">
                            <!-- Hover Thumb -->
                            <img class="hover-img" src="~/Assets/images/product-img/product-2.jpg" alt="">
                            <!-- Favourite -->
                            <div class="product-favourite">
                                <a href="#" class="favme fa fa-heart"></a>
                            </div>
                        </div>
                        <!-- Product Description -->
                        <div class="product-description">
                            <span>topshop</span>
                            <a href="single-product-details.html">
                                <h6>Knot Front Mini Dress</h6>
                            </a>
                            <p class="product-price">$80.00</p>

                            <!-- Hover Content -->
                            <div class="hover-content">
                                <!-- Add to Cart -->
                                <div class="add-to-cart-btn">
                                    <a href="#" class="btn essence-btn">Add to Cart</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Single Product -->
                    <div class="single-product-wrapper">
                        <!-- Product Image -->
                        <div class="product-img">
                            <img src="~/Assets/images/product-img/product-2.jpg" alt="">
                            <!-- Hover Thumb -->
                            <img class="hover-img" src="~/Assets/images/product-img/product-3.jpg" alt="">
                            <!-- Favourite -->
                            <div class="product-favourite">
                                <a href="#" class="favme fa fa-heart"></a>
                            </div>
                        </div>
                        <!-- Product Description -->
                        <div class="product-description">
                            <span>topshop</span>
                            <a href="single-product-details.html">
                                <h6>Poplin Displaced Wrap Dress</h6>
                            </a>
                            <p class="product-price">$80.00</p>

                            <!-- Hover Content -->
                            <div class="hover-content">
                                <!-- Add to Cart -->
                                <div class="add-to-cart-btn">
                                    <a href="#" class="btn essence-btn">Add to Cart</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Single Product -->
                    <div class="single-product-wrapper">
                        <!-- Product Image -->
                        <div class="product-img">
                            <img src="~/Assets/images/product-img/product-3.jpg" alt="">
                            <!-- Hover Thumb -->
                            <img class="hover-img" src="~/Assets/images/product-img/product-4.jpg" alt="">

                            <!-- Product Badge -->
                            <div class="product-badge offer-badge">
                                <span>-30%</span>
                            </div>

                            <!-- Favourite -->
                            <div class="product-favourite">
                                <a href="#" class="favme fa fa-heart"></a>
                            </div>
                        </div>
                        <!-- Product Description -->
                        <div class="product-description">
                            <span>mango</span>
                            <a href="single-product-details.html">
                                <h6>PETITE Crepe Wrap Mini Dress</h6>
                            </a>
                            <p class="product-price"><span class="old-price">$75.00</span> $55.00</p>

                            <!-- Hover Content -->
                            <div class="hover-content">
                                <!-- Add to Cart -->
                                <div class="add-to-cart-btn">
                                    <a href="#" class="btn essence-btn">Add to Cart</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Single Product -->
                    <div class="single-product-wrapper">
                        <!-- Product Image -->
                        <div class="product-img">
                            <img src="~/Assets/images/product-img/product-4.jpg" alt="">
                            <!-- Hover Thumb -->
                            <img class="hover-img" src="~/Assets/images/product-img/product-5.jpg" alt="">

                            <!-- Product Badge -->
                            <div class="product-badge new-badge">
                                <span>New</span>
                            </div>

                            <!-- Favourite -->
                            <div class="product-favourite">
                                <a href="#" class="favme fa fa-heart"></a>
                            </div>
                        </div>
                        <!-- Product Description -->
                        <div class="product-description">
                            <span>mango</span>
                            <a href="single-product-details.html">
                                <h6>PETITE Belted Jumper Dress</h6>
                            </a>
                            <p class="product-price">$80.00</p>

                            <!-- Hover Content -->
                            <div class="hover-content">
                                <!-- Add to Cart -->
                                <div class="add-to-cart-btn">
                                    <a href="#" class="btn essence-btn">Add to Cart</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### New Arrivals Area End ##### -->
<!-- HotNewSale -->
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="section-heading text-center">
                <h2>New Products</h2>
            </div>
        </div>
    </div>
</div>
<div class="container HotNewSale my-3">
    <div class="row">
        <div class="Hot col-12 col-md-6 w-100 pb-5" style="position: relative;">
            <a href="#">
                <img src="https://picsum.photos/500/500/?random=1">
                <div>
                    <!-- <p class="HotP" style="position: absolute; bottom: 30px; left: 80px;">Hot</p> -->
                </div>
            </a>
        </div>
        <div class="NewSale col-12 col-md-6 d-flex flex-column w-100" style="position: relative;">
            <div class="pb-5">
                <a href="#">
                    <img src="https://picsum.photos/500/225/?random=2">
                    <div>
                        <!-- <p class="NewP" style="position: absolute; top: 30px; left: 80px;">New</p> -->
                    </div>
                </a>
            </div>
            <div>
                <a href="#">
                    <img src="https://picsum.photos/500/225/?random=3">
                    <div>
                        <!-- <p class="SaleP" style="position: absolute; bottom: 30px; left: 80px;">Sale</p> -->
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

@section topCss
{
    @*<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://kit.fontawesome.com/437be08d6c.js" crossorigin="anonymous"></script>*@

    <style>
        /** {
            margin: 0;
            padding: 0;
            list-style: none;
        }*/
        .Products img {
            width: 250px;
        }

        .HotNewSale p {
            font-size: 80px;
            color: red;
        }

        .HotNewSale a {
            text-decoration: none;
        }

        .HotNewSale {
            overflow: hidden;
            margin: auto;
        }

            .HotNewSale img {
                max-width: 100%;
                height: auto;
                transform: scale(1,1);
                transition: all 1s ease-out;
            }

                .HotNewSale img:hover {
                    transform: scale(1.1,1.1);
                }
    </style>
}

