
@{
    ViewBag.Title = "Member Registered";
}

<!-- ##### Header Area Start ##### -->
<header class="header_area">
    <div class="classy-nav-container breakpoint-off d-flex align-items-center justify-content-between">
        <!-- Classy Menu -->
        <nav class="classy-navbar" id="essenceNav">
            <!-- Logo -->
            <a class="nav-brand" href="index.html"><img src="img/core-img/logo.png" alt=""></a>
            <!-- Navbar Toggler -->
            <div class="classy-navbar-toggler">
                <span class="navbarToggler"><span></span><span></span><span></span></span>
            </div>
            <!-- Menu -->
            <div class="classy-menu">
                <!-- close btn -->
                <div class="classycloseIcon">
                    <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                </div>
                <!-- Nav Start -->
                <div class="classynav">
                    <ul>
                        <li>
                            <a href="#">Shop</a>
                            <div class="megamenu">
                                <ul class="single-mega cn-col-4">
                                    <li class="title">Women's Collection</li>
                                    <li><a href="shop.html">Dresses</a></li>
                                    <li><a href="shop.html">Blouses &amp; Shirts</a></li>
                                    <li><a href="shop.html">T-shirts</a></li>
                                    <li><a href="shop.html">Rompers</a></li>
                                    <li><a href="shop.html">Bras &amp; Panties</a></li>
                                </ul>
                                <ul class="single-mega cn-col-4">
                                    <li class="title">Men's Collection</li>
                                    <li><a href="shop.html">T-Shirts</a></li>
                                    <li><a href="shop.html">Polo</a></li>
                                    <li><a href="shop.html">Shirts</a></li>
                                    <li><a href="shop.html">Jackets</a></li>
                                    <li><a href="shop.html">Trench</a></li>
                                </ul>
                                <ul class="single-mega cn-col-4">
                                    <li class="title">Kid's Collection</li>
                                    <li><a href="shop.html">Dresses</a></li>
                                    <li><a href="shop.html">Shirts</a></li>
                                    <li><a href="shop.html">T-shirts</a></li>
                                    <li><a href="shop.html">Jackets</a></li>
                                    <li><a href="shop.html">Trench</a></li>
                                </ul>
                                <div class="single-mega cn-col-4">
                                    <img src="img/bg-img/bg-6.jpg" alt="">
                                </div>
                            </div>
                        </li>
                        <li>
                            <a href="#">Pages</a>
                            <ul class="dropdown">
                                <li><a href="index.html">Home</a></li>
                                <li><a href="shop.html">Shop</a></li>
                                <li><a href="single-product-details.html">Product Details</a></li>
                                <li><a href="checkout.html">Checkout</a></li>
                                <li><a href="blog.html">Blog</a></li>
                                <li><a href="single-blog.html">Single Blog</a></li>
                                <li><a href="regular-page.html">Regular Page</a></li>
                                <li><a href="contact.html">Contact</a></li>
                            </ul>
                        </li>
                        <li><a href="blog.html">Blog</a></li>
                        <li><a href="contact.html">Contact</a></li>
                    </ul>
                </div>
                <!-- Nav End -->
            </div>
        </nav>

        <!-- Header Meta Data -->
        <div class="header-meta d-flex clearfix justify-content-end">
            <!-- Search Area -->
            <div class="search-area">
                <form action="#" method="post">
                    <input type="search" name="search" id="headerSearch" placeholder="Type for search">
                    <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                </form>
            </div>
            <!-- Favourite Area -->
            <div class="favourite-area">
                <a href="#"><img src="img/core-img/heart.svg" alt=""></a>
            </div>
            <!-- User Login Info -->
            <div class="user-login-info">
                <a href="#"><img src="img/core-img/user.svg" alt=""></a>
            </div>
            <!-- Cart Area -->
            <div class="cart-area">
                <a href="#" id="essenceCartBtn"><img src="img/core-img/bag.svg" alt=""> <span>3</span></a>
            </div>
        </div>

    </div>
</header>
<!-- ##### Header Area End ##### -->
<!-- ##### Right Side Cart Area ##### -->
<div class="cart-bg-overlay"></div>

<div class="right-side-cart-area">

    <!-- Cart Button -->
    <div class="cart-button">
        <a href="#" id="rightSideCart"><img src="img/core-img/bag.svg" alt=""> <span>3</span></a>
    </div>

    <div class="cart-content d-flex">

        <!-- Cart List Area -->
        <div class="cart-list">
            <!-- Single Cart Item -->
            <div class="single-cart-item">
                <a href="#" class="product-image">
                    <img src="img/product-img/product-1.jpg" class="cart-thumb" alt="">
                    <!-- Cart Item Desc -->
                    <div class="cart-item-desc">
                        <span class="product-remove"><i class="fa fa-close" aria-hidden="true"></i></span>
                        <span class="badge">Mango</span>
                        <h6>Button Through Strap Mini Dress</h6>
                        <p class="size">Size: S</p>
                        <p class="color">Color: Red</p>
                        <p class="price">$45.00</p>
                    </div>
                </a>
            </div>

            <!-- Single Cart Item -->
            <div class="single-cart-item">
                <a href="#" class="product-image">
                    <img src="img/product-img/product-2.jpg" class="cart-thumb" alt="">
                    <!-- Cart Item Desc -->
                    <div class="cart-item-desc">
                        <span class="product-remove"><i class="fa fa-close" aria-hidden="true"></i></span>
                        <span class="badge">Mango</span>
                        <h6>Button Through Strap Mini Dress</h6>
                        <p class="size">Size: S</p>
                        <p class="color">Color: Red</p>
                        <p class="price">$45.00</p>
                    </div>
                </a>
            </div>

            <!-- Single Cart Item -->
            <div class="single-cart-item">
                <a href="#" class="product-image">
                    <img src="img/product-img/product-3.jpg" class="cart-thumb" alt="">
                    <!-- Cart Item Desc -->
                    <div class="cart-item-desc">
                        <span class="product-remove"><i class="fa fa-close" aria-hidden="true"></i></span>
                        <span class="badge">Mango</span>
                        <h6>Button Through Strap Mini Dress</h6>
                        <p class="size">Size: S</p>
                        <p class="color">Color: Red</p>
                        <p class="price">$45.00</p>
                    </div>
                </a>
            </div>
        </div>

        <!-- Cart Summary -->
        <div class="cart-amount-summary">

            <h2>Summary</h2>
            <ul class="summary-table">
                <li><span>subtotal:</span> <span>$274.00</span></li>
                <li><span>delivery:</span> <span>Free</span></li>
                <li><span>discount:</span> <span>-15%</span></li>
                <li><span>total:</span> <span>$232.00</span></li>
            </ul>
            <div class="checkout-btn mt-100">
                <a href="checkout.html" class="btn essence-btn">check out</a>
            </div>
        </div>
    </div>
</div>
<!-- ##### Right Side Cart End ##### -->
<!-- ##### Breadcumb Area Start ##### -->
<div class="breadcumb_area bg-img" style="background-image: url(img/bg-img/breadcumb.jpg);">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="page-title text-center">
                    <h2>會員註冊</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ##### Breadcumb Area End ##### -->

<div class="checkout_area section-padding-80">
    <div class="container">
        <div class="row">

            <div class="col-12 ">
                <div class="checkout_details_area mt-50 clearfix">

                    <form action="#" method="post">
                        <div class="row">
                            <div class="col-12 mb-3">
                                <label class="Name">姓名 <span>*</span></label>
                                <input type="text" class="form-control" id="Name" value="">
                                <div class="invalid-feedback NameInvalid">限填中文、英文</div>
                            </div>
                            <div class="col-12 mb-3">
                                <label class="Account">帳號 <span>*</span></label>
                                <input type="text" class="form-control" id="Account" value="">
                                <div class="invalid-feedback AccountInvalid">開頭只能為大寫或小寫英文</div>
                            </div>
                            <div class="col-12 mb-3">
                                <label class="Password">密碼 <span>*</span></label>
                                <input type="password" class="form-control" id="Password" value="">
                                <div class="invalid-feedback PasswordInvalid">至少8位至多35位大小寫英文數字</div>
                            </div>
                            <div class="col-12 mb-3">
                                <label class="CheckPassword">確認密碼 <span>*</span></label>
                                <input type="password" class="form-control" id="CheckPassword" value="">
                                <div class="invalid-feedback CheckPasswordInvalid">密碼不一致</div>
                            </div>
                            <div class="col-12 mb-3">
                                <label class="Birthday">生日 <span>*</span></label>
                                <div class="BirthdayBox">
                                    <input type="date" class="form-control" name="" id="Birth">
                                    <div class="BirthdayText">
                                        <p>※未滿18歲請勿購買玩具槍商品</p>
                                        <div class="invalid-feedback BirthdayInvalid">請選擇生日</div>
                                    </div>
                                </div>

                            </div>
                            <div class="col-12 mb-3">
                                <label class="PostCode">郵遞區號 <span>*</span></label>
                                <input type="text" class="form-control" id="PostCode" value="">
                                <div class="invalid-feedback PostCodeInvalid">請輸入至少3位數字</div>
                            </div>
                            <div class="col-12 mb-3">
                                <label class="Address">地址 <span>*</span></label>
                                <input type="text" class="form-control" id="Address" value="">
                                <div class="invalid-feedback AddressInvalid">請輸入完整地址</div>
                            </div>
                            <div class="col-12 mb-3">
                                <label class="Phone">手機 <span>*</span></label>
                                <input type="tel" class="form-control" id="Phone" value="">
                                <div class="invalid-feedback PhoneInvalid">請輸入10位數字手機號碼</div>
                            </div>
                            <div class="col-12 mb-4 validate-input">
                                <label class="EmailAddress">信箱 <span>*</span></label>
                                <input type="text" class="form-control InputEmail" id="Email">
                                <div class="invalid-feedback EmailInvalid">請輸入完整信箱地址</div>
                            </div>
                        </div>
                    </form>
                    <div class="Check col-12">
                        <label for="Look"><input type="checkbox" name="" id="Look">&nbsp;我已詳閱</label>&nbsp;<a href=""
                                                                                                              data-toggle="modal" data-target="#Law" class="MemberTerms">會員條款</a>
                    </div>

                    <div class="checkout-btn mt-100 Submit">
                        <a href="" class="btn essence-btn-login">登入</a>
                        <a href="" class="btn essence-btn" id="Registered">註冊</a>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="Law" tabindex="-1" role="dialog" aria-labelledby="LawTitle"
                 aria-hidden="true">
                <div class="modal-dialog modal-dialog-scrollable" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3 class="modal-title" id="LawLongTitle">會員條款</h3>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                                    style="color: #fff;">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="container-fluid">
                                <div class="row LawArea">
                                    <div class="col-12 LawAreaTxt">
                                        <strong>
                                            購買本賣場玩具槍產品，請確認已滿18歲，且請詳細閱讀會員申請同意書，並按下同意鍵，表示您同意且願意遵守下列規範，您就可以馬上成為會員了!
                                        </strong>
                                    </div>
                                    <div class="LawContent">
                                        <hr />
                                        <div class="col-12">
                                            <p>為了保障您購買之後的權益，請您務必詳閱下列約定條款；當您按下〔我同意〕並確定結帳時，即視為已知悉、並且同意本約定條款的所有約定：</p>
                                            <p>
                                                1. 為確保完成所有的交易程序，您必須保證在本站登記的個人資料與事實相符，如有變動，應即時通知網站服務台修正或是自行至會員管理介面修改。
                                            </p>
                                            <p>2. 您所登錄之個人資料，除了應提供廠商相關送貨與結帳資訊，本站應負相關之保密義務，不會任意洩漏貨提供給第三人。</p>
                                            <p>3. 您應妥善保管在本站登記之帳號與密碼，所有使用該帳號登入系統之任何行為，本站皆視為帳號與密碼持有人之行為。</p>
                                            <p>
                                                4. 在下列情況下，本站有權查看或提供使用者的個人資料給有權機關、或主張其權利受侵害並提出適當證明之第三人：<br>
                                                ※ 依法令規定、或依司法機關或其他有權機關的命令；<br>
                                                ※ 為執行本約定條款、或使用者違反約定條款；<br>
                                                ※ 為維護本站系統之正常運作及安全；<br>
                                                ※ 為保護本站、其他使用者、或其他第三人的合法權益；
                                            </p>
                                            <p>5. 本站所有商品皆由協力廠商所提供，交易行為僅存在於廠商與使用者之間，本站僅提供廠商與使用者之間的交易平台與付款機制。</p>
                                            <p>
                                                6.
                                                相關商品或服務之品質、保固及售後服務，由提供各該商品或服務的廠商負責，但本站承諾全力協助使用者解決關於因為線上消費所產生之疑問或爭議。
                                            </p>
                                            <p>
                                                7.
                                                使用者一旦在本站進行線上消費，即表示願意購買該商品或服務並願遵守交易規則。使用者資料(如地址、電話)如有變更時，應立即上線修正其所留存之資料，且不得以資料不符為理由，否認其訂購行為或拒絕付款。
                                                本站並保有接受您訂單與否的權利。
                                            </p>
                                            <p>
                                                8.
                                                所有在本站所進行的線上消費，使用者應同意以本站所紀錄之電子交易資料為準，如有糾紛，並以該電子交易資料為認定標準。使用者如果發現交易資料不正確，應立即通知本站服務台。
                                            </p>
                                            <p>
                                                9. 本站在發生下列情形之一時，可以停止、中斷提供服務；停止或中斷服務時，原則上本站將先通知會員，惟緊急時刻不在此限： <br>
                                                &nbsp;&nbsp;&nbsp;&nbsp;1. 對本站的電子通信設備，進行必要的保養及施工 <br>
                                                &nbsp;&nbsp;&nbsp;&nbsp;2. 發生突發性的電子通信設備故障；
                                                由於本站所申請的電子通信服務被停止，致使提供服務發生困難；由於天災等不可抗力之因素，致使本站無法提供服務。
                                            </p>
                                            <p>
                                                10. 本站保留隨時修改本使用條款之權利，修改後的使用條款將公佈在本網站上，不另外個別通知使用者。使用者應同意遵守修改後之約定條款。
                                            </p>
                                            <p>
                                                11.
                                                使用者應同意，本約定條款及所有在本站所進行的線上消費或交易，均以中華民國法令為準據法。因本約定條款所發生之糾紛，以台灣台北地方法院為第一審管轄。
                                            </p>

                                        </div>
                                    </div>
                                    <div class="col-12 RowLink">
                                        <a href="https://law.moj.gov.tw/LawClass/LawSingle.aspx?Pcode=I0050021&FLNO=8"
                                           target="_blank" class="LawLink">個人資料保護法</a>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">關閉</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<footer class="footer_area clearfix">
    <div class="container">
        <div class="row">
            <!-- Single Widget Area -->
            <div class="col-12 col-md-6">
                <div class="single_widget_area d-flex mb-30">
                    <!-- Logo -->
                    <div class="footer-logo mr-50">
                        <a href="#"><img src="img/core-img/logo2.png" alt=""></a>
                    </div>
                    <!-- Footer Menu -->
                    <div class="footer_menu">
                        <ul>
                            <li><a href="shop.html">Shop</a></li>
                            <li><a href="blog.html">Blog</a></li>
                            <li><a href="contact.html">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Single Widget Area -->
            <div class="col-12 col-md-6">
                <div class="single_widget_area mb-30">
                    <ul class="footer_widget_menu">
                        <li><a href="#">Order Status</a></li>
                        <li><a href="#">Payment Options</a></li>
                        <li><a href="#">Shipping and Delivery</a></li>
                        <li><a href="#">Guides</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Terms of Use</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row align-items-end">
            <div class="col-12 col-md-6">
                <div class="single_widget_area">
                    <div class="footer_social_area">
                        <a href="#" data-toggle="tooltip" data-placement="top" title="Facebook">
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                        </a>
                        <a href="#" data-toggle="tooltip" data-placement="top" title="Instagram">
                            <i class="fa fa-instagram" aria-hidden="true"></i>
                        </a>
                        <a href="#" data-toggle="tooltip" data-placement="top" title="Twitter">
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                        </a>
                        <a href="#" data-toggle="tooltip" data-placement="top" title="Pinterest">
                            <i class="fa fa-pinterest" aria-hidden="true"></i>
                        </a>
                        <a href="#" data-toggle="tooltip" data-placement="top" title="Youtube">
                            <i class="fa fa-youtube-play" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-md-12 text-center">
                <p>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;
                    <script>document.write(new Date().getFullYear());</script> All rights reserved | This template
                    is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com"
                                                                                        target="_blank">Colorlib</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </p>
            </div>
        </div>

    </div>

</footer>

@section topCss{
    <link href="~/Assets/css/MemberRegistered/MemberRegistered.css" rel="stylesheet" />
    <link href="~/Assets/css/MemberRegistered/core-style.css" rel="stylesheet" />
    <link href="~/Assets/css/MemberRegistered/style.css" rel="stylesheet" />
    <img src="~/Assets/images/MemberRegistered/favicon.ico" />
}

@section bottomJs
{
    <script src="~/Assets/javaScript/MemberRegistered/jquery-2.2.4.min.js"></script>
    <script src="~/Scripts/umd/popper.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Assets/javaScript/MemberRegistered/plugins.js"></script>
    <script src="~/Assets/javaScript/MemberRegistered/classy-nav.min.js"></script>
    <script src="~/Assets/javaScript/MemberRegistered/active.js"></script>
    <script src="~/Assets/javaScript/MemberRegistered/main.js"></script>
}