* {
    margin: 0;
    padding: 0;
}

.Check,
.RowLink {
    text-align: center;
}

label,
a {
    font-size: large;
    font-family: sans-serif;
}

.modal-header {
    background-color: rgb(56, 55, 55);
}

#LawLongTitle {
    color: #fff;
}

.container-fluid .LawArea {
    border: 1px solid #000;
    border-radius: 10px;
}

.BirthdayBox {
    position: relative;
}

.BirthdayText p {
    font-size: 10px;
    color: red;
    text-align: right;
    position: relative;
}

.MemberTerms,
.LawLink {
    text-decoration: none;
    color: rgb(56, 168, 243);
    font-size: 18px !important;
}

    .MemberTerms:hover,
    .LawLink:hover {
        text-decoration: none;
        color: rgb(201, 162, 34);
    }

.LawAreaTxt {
    margin: 10px 0 0;
}

hr {
    border: 1px dashed #000;
}

.LawContent {
    margin: 0 10px 0 10px;
}

.Submit {
    display: flex;
    justify-content: space-evenly;
}

.BirthdayInvalid {
    position: absolute;
    top: 40px;
}

.essence-btn {
    /*display: inline-block;
    min-width: 170px;
    height: 50px;
    color: #ffffff;
    border: none;
    border-radius: 0;
    padding: 0 40px;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 50px;
    background-color: #dc0345;
    letter-spacing: 1.5px;
    font-weight: 600;*/
    transition: 0.2s;
}

.essence-btn-login {
    display: inline-block;
    min-width: 170px;
    height: 50px;
    color: #ffffff;
    border: none;
    border-radius: 0;
    padding: 0 40px;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 50px;
    background-color: #dc0345;
    letter-spacing: 1.5px;
    font-weight: 600;
    transition: 0.2s;
}

.essence-btn:hover,
.essence-btn:focus {
    color: #ffffff;
    font-size: 20px;
    background-color: #0315ff;
}

.essence-btn-login:hover,
.essence-btn-login:focus {
    color: #ffffff;
    font-size: 20px;
}

.invalid-feedback {
    display: block;
}

input,
select,
textarea {
    max-width: 100%;
}